analysis_code/
/cropped
/cropped_data
/cutted_data
/cutted_data2
/cutted_data3
/cutted_data4
data07

data/
distribution_plot/
fig/
lineplot
plot2
split_data
test
netcdf-c-4.9.2/
**/__pycache__
hurricast/
netcdf-c-4.9.2.tar.gz
cutted_data/
output/
wandb/
data.zip

data_tracker_loc
.ssh/
**.sh
**.csv
data07_vor/
data69/
.ipynb_checkpoints/
**.npy
**.txt
raw_data/
data256/
slurm-3637.out
cropped_data_vor/